
DX_GITAE/.vs/DX_GITAE/v16/.suo
DX_GITAE/.vs/DX_GITAE/v16/Browse.VC.db
DX_GITAE/.vs/DX_GITAE/v16/Browse.VC.db-shm
DX_GITAE/.vs/DX_GITAE/v16/Browse.VC.db-wal
DX_GITAE/.vs/DX_GITAE/v16/Browse.VC.opendb
DX_GITAE/.vs/DX_GITAE/v16/Solution.VC.db-shm
DX_GITAE/.vs/DX_GITAE/v16/Solution.VC.db-wal
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/BC.obj
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/BC4BC5.obj
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/BC6HBC7.obj
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/BCDirectCompute.obj
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTex.lib
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTex.pch
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTex.pdb
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTex.tlog/CL.command.1.tlog
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTex.tlog/CL.read.1.tlog
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTex.tlog/CL.write.1.tlog
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTex.tlog/DirectXTex.lastbuildstate
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTex.tlog/Lib-link.read.1.tlog
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTex.tlog/Lib-link.write.1.tlog
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTex.tlog/Lib.command.1.tlog
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTex_Desktop_2019_Win10.log
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTex_Desktop_2019_Win10.vcxproj.FileListAbsolute.txt
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTexCompress.obj
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTexCompressGPU.obj
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTexConvert.obj
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTexD3D11.obj
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTexD3D12.obj
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTexDDS.obj
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTexFlipRotate.obj
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTexHDR.obj
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTexImage.obj
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTexMipMaps.obj
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTexMisc.obj
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTexNormalMaps.obj
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTexPMAlpha.obj
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTexResize.obj
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTexTGA.obj
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTexUtil.obj
DX_GITAE/DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTexWIC.obj
DX_GITAE/DX_GITAE/Scene/SolarSystemScene.cpp
DX_GITAE/DX_GITAE/x64/Debug/BlendState.obj
DX_GITAE/DX_GITAE/x64/Debug/ConstantBuffer.obj
DX_GITAE/DX_GITAE/x64/Debug/Device.obj
DX_GITAE/DX_GITAE/x64/Debug/DX_GITAE.exe.recipe
DX_GITAE/DX_GITAE/x64/Debug/DX_GITAE.ilk
DX_GITAE/DX_GITAE/x64/Debug/DX_GITAE.log
DX_GITAE/DX_GITAE/x64/Debug/DX_GITAE.obj
DX_GITAE/DX_GITAE/x64/Debug/DX_GITAE.pch
DX_GITAE/DX_GITAE/x64/Debug/DX_GITAE.tlog/CL.command.1.tlog
DX_GITAE/DX_GITAE/x64/Debug/DX_GITAE.tlog/CL.read.1.tlog
DX_GITAE/DX_GITAE/x64/Debug/DX_GITAE.tlog/CL.write.1.tlog
DX_GITAE/DX_GITAE/x64/Debug/DX_GITAE.tlog/DX_GITAE.lastbuildstate
DX_GITAE/DX_GITAE/x64/Debug/DX_GITAE.tlog/fxc.command.1.tlog
DX_GITAE/DX_GITAE/x64/Debug/DX_GITAE.tlog/fxc.read.1.tlog
DX_GITAE/DX_GITAE/x64/Debug/DX_GITAE.tlog/fxc.write.1.tlog
DX_GITAE/DX_GITAE/x64/Debug/DX_GITAE.tlog/link.command.1.tlog
DX_GITAE/DX_GITAE/x64/Debug/DX_GITAE.tlog/link.read.1.tlog
DX_GITAE/DX_GITAE/x64/Debug/DX_GITAE.tlog/link.write.1.tlog
DX_GITAE/DX_GITAE/x64/Debug/DX_GITAE.tlog/rc.command.1.tlog
DX_GITAE/DX_GITAE/x64/Debug/DX_GITAE.tlog/rc.read.1.tlog
DX_GITAE/DX_GITAE/x64/Debug/DX_GITAE.tlog/rc.write.1.tlog
DX_GITAE/DX_GITAE/x64/Debug/framework.obj
DX_GITAE/DX_GITAE/x64/Debug/IndexBuffer.obj
DX_GITAE/DX_GITAE/x64/Debug/InputManager.obj
DX_GITAE/DX_GITAE/x64/Debug/PixelShader.obj
DX_GITAE/DX_GITAE/x64/Debug/Program.obj
DX_GITAE/DX_GITAE/x64/Debug/SamplerState.obj
DX_GITAE/DX_GITAE/x64/Debug/Scene.obj
DX_GITAE/DX_GITAE/x64/Debug/SolarSystemScene.obj
DX_GITAE/DX_GITAE/x64/Debug/SRV.obj
DX_GITAE/DX_GITAE/x64/Debug/StateManager.obj
DX_GITAE/DX_GITAE/x64/Debug/Texture.obj
DX_GITAE/DX_GITAE/x64/Debug/TextureScene.obj
DX_GITAE/DX_GITAE/x64/Debug/Timer.obj
DX_GITAE/DX_GITAE/x64/Debug/Transform.obj
DX_GITAE/DX_GITAE/x64/Debug/vc142.idb
DX_GITAE/DX_GITAE/x64/Debug/vc142.pdb
DX_GITAE/DX_GITAE/x64/Debug/Vector2.obj
DX_GITAE/DX_GITAE/x64/Debug/VertexBuffer.obj
DX_GITAE/DX_GITAE/x64/Debug/VertexShader.obj
DX_GITAE/DX_GITAE/x64/Debug/WVPScene.obj
DX_GITAE/x64/Debug/DX_GITAE.exe
DX_GITAE/x64/Debug/DX_GITAE.pdb
DX_GITAE/x64/Debug/TexturePixelShader.cso
DX_GITAE/x64/Debug/TextureVertexShader.cso
